In [1]:
# Import the dependencies
import matplotlib.pyplot as plt
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Beira,MZ,2020-08-26 11:18:18,-19.84,34.84,82.40,58,20,9.17
1,1,Constitucion,CL,2020-08-26 11:20:25,-35.33,-72.42,50.54,86,95,15.84
2,2,Turukhansk,RU,2020-08-26 11:20:25,65.82,87.98,69.40,53,82,10.51
3,3,Ushuaia,AR,2020-08-26 11:20:25,-54.80,-68.30,39.20,51,75,5.82
4,4,Santa Rosa,PH,2020-08-26 11:20:25,14.31,121.11,88.00,74,99,14.99

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Beira,MZ,2020-08-26 11:18:18,-19.84,34.84,82.40,58,20,9.17
4,4,Santa Rosa,PH,2020-08-26 11:20:25,14.31,121.11,88.00,74,99,14.99
6,6,Lata,PT,2020-08-26 11:20:25,40.16,-8.33,84.99,53,1,5.66
7,7,Vila Franca Do Campo,PT,2020-08-26 11:20:26,37.72,-25.43,77.00,78,20,14.99
15,15,Diapaga,BF,2020-08-26 11:20:27,12.07,1.79,84.31,63,19,5.39
20,20,Bucerias,MX,2020-08-26 11:20:27,20.75,-105.33,77.00,94,90,4.70
24,24,Sao Filipe,CV,2020-08-26 11:16:43,14.90,-24.50,79.14,85,70,7.76
25,25,Omboue,GA,2020-08-26 11:17:07,-1.57,9.26,79.03,75,99,8.32
26,26,Atuona,PF,2020-08-26 11:20:28,-9.80,-139.03,77.65,79,35,18.03
29,29,Bandarbeyla,SO,2020-08-26 11:20:29,9.49,50.81,88.00,50,47,29.86

In [12]:
preferred_cities_df.count()

City_ID       239
City          239
Country       237
Date          239
Lat           239
Lng           239
Max Temp      239
Humidity      239
Cloudiness    239
Wind Speed    239
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                    City Country  Max Temp    Lat     Lng Hotel Name
0                  Beira      MZ     82.40 -19.84   34.84
4             Santa Rosa      PH     88.00  14.31  121.11
6                   Lata      PT     84.99  40.16   -8.33
7   Vila Franca Do Campo      PT     77.00  37.72  -25.43
15               Diapaga      BF     84.31  12.07    1.79
20              Bucerias      MX     77.00  20.75 -105.33
24            Sao Filipe      CV     79.14  14.90  -24.50
25                Omboue      GA     79.03  -1.57    9.26
26                Atuona      PF     77.65  -9.80 -139.03
29           Bandarbeyla      SO     88.00   9.49   50.81

In [14]:
# Set parameters to search for a hotel
params = {"radius": 5000,
    "type": "lodging",
    "key": g_key, 
    "location": "48.8566, 2.3522"}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")
hotel_df.head(10)

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Beira,MZ,82.40,-19.84,34.84,Beira Terrace Hotel
4,Santa Rosa,PH,88.00,14.31,121.11,Amethyst Econotel
6,Lata,PT,84.99,40.16,-8.33,Casa Maquia
7,Vila Franca Do Campo,PT,77.00,37.72,-25.43,Pestana Bahia Praia
15,Diapaga,BF,84.31,12.07,1.79,
20,Bucerias,MX,77.00,20.75,-105.33,Villa del Palmar Flamingos Beach Resort & Spa ...
24,Sao Filipe,CV,79.14,14.90,-24.50,Tortuga B&B
25,Omboue,GA,79.03,-1.57,9.26,Hotel Olako
26,Atuona,PF,77.65,-9.80,-139.03,Villa Enata
29,Bandarbeyla,SO,88.00,9.49,50.81,REER XOOSHLE GROUP

In [15]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [17]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))